<%- include("../../shared/includes/head", { pageTitle: "Posts" })  %>

</head>
<body>
    <%- include("../../shared/includes/header") %>
<main>
    <h1>Posts</h1>
</main>
<%- include("../../shared/includes/footer") %>