* {
  box-sizing: border-box;
}


html {
  font-family: "Montserrat", "sans-serif";
  

  --color-yellow: hsl(56, 99%, 52%);
  --color-yellow-dark: hsl(56, 99%, 32%);
  --color-yellow-light: hsl(56, 99%, 82%);
  --color-black: hsl(0, 0%, 15%);
  --color-black-light: hsl(0, 0%, 22%);
  --color-red: hsl(359, 77%, 56%);

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --border-radius-small: 4px;
  --border-radius-medium: 6px;

  --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
  background-image: url(../images/gym.jpg);
  color: #fff;
  margin: 0;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-yellow);
}

.btn {
  cursor: pointer;
  font: inherit;
  padding: var(--space-2) var(--space-4);
  border-radius: var(--border-radius-small);
}

.btn__primary {
  background-color: var(--color-yellow);
  color: #000;
  transition: background-color 0.3s;
  border: 1px solid transparent;
}

.btn__primary:hover {
  background-color: var(--color-yellow-dark);
}